
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.radiofrance.fr/s3/cruiser-production/2020/12/5b5a3d8d-9654-4ebb-9a99-5f8e6169c6c6/838_gettyimages-108387402.jpg);">
  <div class="container">
    <h1>Save any kind of movies!</h1>
    <p>My Lists.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="cards">
  <% @lists.each do |r| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.hebergementwebs.com/image/6b/6bfb4757a70c784e02a7ced504d50780.jpg/av1-presentation-du-nouveau-codec-video-standard-pour-le-web-1.jpg)">
    <%= link_to r.name, list_path(r) %>
  </div>
  <% end %>
</div>


<div><%= link_to "Add list", new_list_path %></div>
